<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Alpha blog application by <a href="https://newtontech.netlify.app">Newton Alumasa</a>
    </small>
  </footer>
</div>